{
  "presets": [
    "next/babel",
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],

  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
