* {
  --main-green: #00a65a;
  --border-green: #009b55;
  --low-gray: #e9f0ed;
  --dark: #000a06;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ebebeb;
}

a {
  color: inherit;
  text-decoration: none;
}
